@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', monospace;
}
body 
{
	background-color: #b3b3b3;
	min-height: 100vh;
}
.navbar 
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #1a1a1a;
	padding: 0 20px;
	height: 70px;
}
.nav_left .logo 
{
	color: gainsboro;
	font-size: 1.5rem;
}
.nav_right .nav_menu 
{
	list-style: none;
	display: flex;
	gap: 10px;
}
.nav_item 
{
	position: relative;
}
.menu_link 
{
	display: block;
	padding: 20px 25px;
	color: gainsboro;
	text-decoration: none;
	font-size: 18px;
}
.menu_link:hover 
{
	background: #2b2b2b;
}
.dropdown_menu 
{
	list-style: none;
	background: #525252;
	position: absolute;
	left: 0;
	top: 100%;
	display: none;
	z-index: 999;
	min-width: 200px;
}
.dropdown_item
{
	display: block;
}
.nav_item:hover .dropdown_menu
{
	display: block;
}
